// @font-face {
//   font-family: Vazir;
//   font-weight: 400;
//   src: url('../fonts/Vazirmatn-Regular.ttf') format('truetype');
// }

// @font-face {
//   font-family: Vazir;
//   font-weight: 500;
//   src: url('../fonts/Vazirmatn-Medium.ttf') format('truetype');
// }

// @font-face {
//   font-family: Vazir;
//   font-weight: bold;
//   src: url('../fonts/Vazirmatn-Bold.ttf') format('truetype');
// }

// @font-face {
//   font-family: Vazir;
//   font-weight: 900;
//   src: url('../fonts/Vazirmatn-Black.ttf') format('truetype');
// }


@font-face {
  font-family: Vazir;
  font-weight: 400;
  src: url('../fonts/Vazir.woff') format('woff');
}

@font-face {
  font-family: Vazir;
  font-weight: 500;
  src: url('../fonts/Vazir-Light.woff') format('woff');
}

@font-face {
  font-family: Vazir;
  font-weight: bold;
  src: url('../fonts/Vazir-Medium.woff') format('woff');
}

@font-face {
  font-family: Vazir;
  font-weight: 900;
  src: url('../fonts/Vazir-Bold.woff') format('woff');
}