
.cursor {
  cursor: pointer;
}

.min-width-sm {
  min-width: 85px;
}

.min-width-md {
  min-width: 120px;
}

.min-width-lg {
  min-width: 200px;
}

.min-height-sm {
  min-height: 100px;
}

.min-height-md {
  min-height: 200px;
}

.min-height-lg {
  min-height: 300px;
}

.vertical-align-middle {
    vertical-align: middle;
}

