@import "bootstrap/scss/bootstrap.scss";
@import "reset.scss";
@import "variables.scss";
@import "fonts.scss";
@import "utilities.scss";

body {
  font-family: Vazir !important;

}
.commonStyle{
  margin-top: 40px;
  text-align: right;
}