<template>
  <div class="complaint-container px-4">
    <p class="text-danger text-center my-4">
      مشتری گرامی با اظهار تأسف و عذر خواهی بابت نارضایتی شما، خواهشمند است
      چنانچه کالاهای مربوطه به شما تحویل شده، در برگشت آن همکاری فرمایید. هزینه
      مربوطه توسط فروشگاه پرداخت خواهد شد.
    </p>

    <p class="text-danger text-center my-4">
      در صورت اطمینان لطفا ضمن تکمیل موارد زیر، تأیید شکایت را انتخاب فرمایید.
      همکاران ما در اسرع وقت با شما تماس خواهند گرفت.
    </p>

    <form class="px-2">
      <div class="d-flex justify-content-around">
        <label for="message-text" class="col-form-label">دلیل شکایت:</label>
        <textarea
          class="form-control description w-75"
          id="message-text"
          placeholder="درج فرمایید...."
        ></textarea>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  name: "AddComplaint",
};
</script>

<style lang="scss">
.complaint-container {
  .description {
    height: 100px;
    &::placeholder {
      font-size: 0.8em;
    }
  }
}
</style>
