<template>
  <div class="modal fade" id="cancelModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title mx-auto">لغو سفارش</h5>
        </div>
        <div class="modal-body border-0">
          <div class="complaint-container px-4">

            <p class="text-danger text-center my-4">
              ابطال یا لغو سفارش ردیف 3
            </p>
            <p>
              در صورت اطمینان لطفا ضمن تکمیل فرم، گزینه تأیید را انتخاب فرمایید.
            </p>

            <form class="px-2">
              <div class="d-flex justify-content-around">
                <label for="message-text" class="col-form-label">دلیل ابطال:</label>
                <textarea
                    class="form-control description w-75"
                    id="message-text"
                    placeholder="درج فرمایید...."
                ></textarea>
              </div>
            </form>
          </div>
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" @click="submitForm" data-bs-dismiss="modal"
          >
            ثبت ابطال
          </button>
          <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              @click="cancelForm"
          >
            انصراف
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {useToast} from 'vue-toastification'

const toast = useToast()
export default {
  name: "AddComplaint",
  methods: {
    submitForm() {
      toast.success('درخواست شما برای ابطال سفارش با موفقیت ثبت شد. بزودی با شما تماس خواهیم گرفت.')
    },
  }
};
</script>

<style lang="scss">
.complaint-container {
  .description {
    height: 100px;

    &::placeholder {
      font-size: 0.8em;
    }
  }
}
</style>
