<template>
  <div class="modal fade" id="claimModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title mx-auto">ثبت شکایت</h5>
        </div>
        <div class="modal-body border-0">
          <div class="complaint-container px-4">
            <p class="text-danger text-center my-4">
              مشتری گرامی با اظهار تأسف و عذر خواهی بابت نارضایتی شما، خواهشمند است
              چنانچه کالاهای مربوطه به شما تحویل شده، در برگشت آن همکاری فرمایید. هزینه
              مربوطه توسط فروشگاه پرداخت خواهد شد.
            </p>

            <p class="text-danger text-center my-4">
              در صورت اطمینان لطفا ضمن تکمیل موارد زیر، تأیید شکایت را انتخاب فرمایید.
              همکاران ما در اسرع وقت با شما تماس خواهند گرفت.
            </p>

            <form class="px-2">
              <div class="d-flex justify-content-around">
                <label for="message-text" class="col-form-label">دلیل شکایت:</label>
                <textarea
                    class="form-control description w-75"
                    id="message-text"
                    placeholder="درج فرمایید...."
                ></textarea>
              </div>
            </form>
          </div>

        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" @click="submitForm" data-bs-dismiss="modal"
          >
            ثبت شکایت
          </button>
          <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
          >
            انصراف
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import {useToast} from 'vue-toastification'

const toast = useToast()
export default {
  name: "claimModal",
  methods: {
    submitForm() {
      toast.success('درخواست شما برای ابطال سفارش با موفقیت ثبت شد. بزودی با شما تماس خواهیم گرفت.')
    },
  }
}
</script>

<style lang="scss">
.complaint-container {
  .description {
    height: 100px;

    &::placeholder {
      font-size: 0.8em;
    }
  }
}
</style>

