<template>
  <div class="rating-container">
    <div
      class="rate border border-1 rounded p-2"
      :class="{ 'bg-success': item.active, 'text-white': item.active }"
      v-for="(item, index) in items"
      :key="index"
      @click="selectItem(item)"
    >
      <img class="rate__icon" :src="item.icon" />
      <span class="rate__title mt-2">{{ item.title }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "RatesIcon",
  data() {
    return {
      items: [
        {
          title: "خیلی بد",
          icon: require("@/common/assets/images/icons/embarrasse.svg"),
          active: false,
        },
        {
          title: "بد",
          icon: require("@/common/assets/images/icons/sad.svg"),
          active: false,
        },
        {
          title: "معمولی",
          icon: require("@/common/assets/images/icons/happy.svg"),
          active: false,
        },
        {
          title: "خوب",
          icon: require("@/common/assets/images/icons/happy-2.svg"),
          active: false,
        },
        {
          title: "عالی",
          icon: require("@/common/assets/images/icons/kiss.svg"),
          active: false,
        },
      ],
    };
  },
  methods: {
    selectItem(item) {
      this.items = this.items?.map((rate) => {
        rate.active = false;
        if (rate.title === item.title) {
          rate.active = !item.active;
        }
        return rate;
      });
      this.$emit("select", item);
    },
  },
};
</script>

<style lang="scss">
.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  .rate {
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      .rate__icon {
        transform: scale(1.3);
      }
    }
    &__icon {
      height: 30px;
      width: 30px;
      transition: all 0.3s ease-in;
    }
  }
}
</style>
