<template>
  <div class="modal fade" id="surveyModal" tabindex="-1" :class="{ show: active, 'd-block': active }"
  >
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title mx-auto">نظرسنجی</h5>
        </div>
        <div class="modal-body border-0">
          <div class="form-survey px-5">
            <div class="header">
              <p class="header__time text-center text-muted fon">
                زمان تحویل : {{ DeliveryRequestedDateDesc }}
              </p>
              <p class="header__address text-center text-muted fon">
                آدرس : {{ DeliveryAddress }}
              </p>
            </div>
            <h4 class="text-danger text-center my-4">
              تجربه خرید شما از فروشگاه ما چگونه بود؟
            </h4>
            <div class="rate-items py-2 px-4 my-2">
              <rates-icon @select="selectRate"/>
            </div>

            <form class="px-3">
      <textarea
          class="form-control description"
          id="message-text"
          placeholder="درصورتی که انتقاد یا پیشنهادی دارید بنویسید"
      ></textarea>
            </form>
          </div>
        </div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  @click="submitForm">
            ثبت نظر
          </button>
          <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              @click="cancelForm"
          >
            انصراف
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import RatesIcon from "./RatesIcon.vue";
import {useToast} from 'vue-toastification'

const toast = useToast()

export default {
  components: {RatesIcon},
  data() {
    return {
      DeliveryRequestedDateDesc: "شنبه 18 آبان – 11 تا 14",
      DeliveryAddress: "بلوار فرهنگ بلوار سید رضی بین سید رضی 14 و 16 پلاک 12",
      active: false
    };
  },

  methods: {
    submitForm() {
      toast.success("از همکاری شما متشکریم. ");
    },

  }

};
</script>

<style lang="scss">
.form-survey {
  .description {
    height: 150px;

    &::placeholder {
      font-size: 0.8em;
    }
  }
}
</style>
