<template>
  <div class="order-details py-4 mt-5">
    <div class="container">
      <img
          class="container__icon mx-auto d-block"
          src="@/common/assets/images/icons/basket2.svg"
      />
      <h3 class="title">جزئیات سفارش</h3>
      <div class="header-content">
        <p class="header-time text-secondary">
          <span>زمان تحویل: </span>
          <span>{{ order.DeliveryRequestedDateDesc }}</span>
        </p>
        <p class="header-address text-secondary">
          <span>آدرس تحویل: </span>
          <span>{{ order.DeliveryAddress }}</span>
        </p>
      </div>

      <div class="body-content " style="overflow-x:auto">
        <table class="table table-bordered">
          <thead class="bg-secondary bg-opacity-25 ">
          <tr>
            <th v-for="header in headers" :key="header">
              {{ header }}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="item in order.items" :key="item.Row">
            <td>{{ item.Row }}</td>
            <td><img :src="item.img" width="80"></td>

            <td>{{ item.GoodName }}</td>

            <td>{{ item.GoodAmount }}</td>

            <td>{{ item.JcoPrice }}</td>

            <td>{{ item.SumGoodJCoPrice }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-content fw-bold">
        <p class="item">
          <span>تعداد اقلام</span>
          <span>{{ order.TotalGoodCount }}</span>
        </p>
        <p class="item">
          <span>مبلغ کل سفارش</span>
          <span>{{ order.TotalPrice }}</span>
        </p>
        <p class="item">
          <span>هزینه ارسال</span>
          <span>{{ order.TransmitCost }}</span>
        </p>
        <p class="text-primary mt-5 item">
          <span>مبلغ استفاده شده از اعتبار</span>
          <span>{{ order.PaiedAmount }}</span>
        </p>
        <p class="bg-primary text-white p-2 item">
          <span>مبلغ پرداخت شده</span>
          <span>{{ order.PaiedAmount }}</span>
        </p>
        <p class=" p-2 item">
          <span>کد ارسال</span>
          <span>{{ order.Deliverycode }}</span>
        </p>
        <button @click="backToOrderList" class="btn btn-outline-primary w-50 ">بازگشت به صفحه لیست سفارش ها</button>
      </div>
    </div>
  </div>
</template>

<script src="./order-details.js"></script>

<style lang="scss" scoped src="./order-details.scss"></style>
