.order-details {
  width: 100%;
  .container {
    text-align: center;
    display: flex;
    flex-flow: column;


    &__icon {
      width: 40px;
      height: 40px;
      margin-bottom: 30px;
    }

    .header-content{
      width: 100%;
    }
  }

  .footer-content {
    .item {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}