<template>
  <div class="main">
    <table class="table table-bordered border-secondary">
      <thead class="bg-secondary bg-opacity-25">
      <tr>
        <th v-for="header in headers" :key="header">
          {{ header }}
        </th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="item in items" :key="item.OrderId" class="vertical-align-middle">
        <td>{{ item.Row }}</td>
        <td class="col min-width-lg">{{ item.DeliveryRequestedDateDesc }}</td>
        <td :class="checkStatus(item.OrderStatusId)" class="min-width-md">
          {{ item.OrderStatusId }}
        </td>
        <td>{{ item.TotalPayment }}</td>
        <td>
            <span class="text-primary cursor" @click="showDetails(item.OrderId)"
            >مشاهده</span
            >
        </td>
        <td
            :="checkAttr(item.IsSurveyed,surveyModalAttr,'نشده')"
            class="cursor min-width-sm"
            :class="checkStatus(item.IsSurveyed)"
            @click="doSurvey(item.OrderId, item.IsSurveyed, $event)"
        >
          {{ item.IsSurveyed }}
        </td>
        <td class="d-flex flex-column justify-content-between min-width-md text-center min-height-sm">
            <span
                :="checkAttr(item.IsCancelable,cancelModalAttr,'1')"
                class="cursor"
                :class="[
                item.IsCancelable == 1 ? 'text-primary' : 'text-secondary',
              ]"
                @click="cancelOrder(item.OrderId, item.IsCancelable, $event)"
            >ابطال با لغو</span
            >
          <span
              :="checkAttr(item.IsClaimed,claimModalAttr,'1')"
              class="cursor"
              :class="[item.IsClaimed == 1 ? 'text-primary' : 'text-secondary']"
              @click="claimOrder(item.OrderId, item.IsClaimed, $event)"
          >ثبت شکایت</span
          >
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script src="./data-table.js"></script>
<sty scoped src="./data-table.scss" lang="scss"></sty>
