<template>
  <!-- Modal -->
  <div class="modal fade" :id="id" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header border-0">
          <h5 class="modal-title mx-auto">{{ title }}</h5>
        </div>
        <div class="modal-body border-0"><slot></slot></div>
        <div class="modal-footer border-0 d-flex justify-content-center">
          <button type="button" class="btn btn-primary" @click="showNotif">
            {{ btnTitle[1] }}
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ btnTitle[0] }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { useToast } from 'vue-toastification'
const toast = useToast()

export default {
  name: "CustomModal",
  props: {
    id: {
      type: String,
      required: true,
    },
    title: {
      type: String,
    },
    btnTitle: {
      type: Array,
      default: () => ["انصراف", "تایید"],
    },
  },
  methods:{
    showNotif(){
      toast.info("I'm an info toast!");
    }
  }
};
</script>

<style></style>
