<template>
  <div class="page-notfound-container">
    <div class="header-img">
      <img class="img-notfound" src="../../assets/images/404/404-error.jpg" alt="404"/>
    </div>
    <div class="content-not-found">
      <h1 class="title-notfound">متاسفانه صفحه مورد نظر پیدا نشد</h1>

      <div class="btns">
        <button class="btn-back-page" @click="backPage()">بازگشت به صفحه قبلی</button>
        <button class="btn-back-home" @click="backHome()">رفتن به صفحه اصلی</button>
      </div>
    </div>
  </div>
</template>

<script src="./page-not-found.js"></script>
<style lang="scss" src="./page-not-found.scss"></style>
