.page-notfound-container {
    width: 100%;
    height: 100vh;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    .header-img {
        margin-top: 100px;
        margin-bottom: 72px;
        width: 520px;
        height: 424px;
        .img-notfound {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .content-not-found {
        .title-notfound {
            font-size: 2.5rem;
            font-size: clamp(1rem, calc(1vw + 1.5rem), 2.5rem);
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.73;
            letter-spacing: normal;
            color: var(--text-dark);
            text-align: center;
            margin-bottom: 40px;
        }

        .btns {
            max-width: 440px;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            button {
                outline: none;
                border: none;
                width: 200px;
                height: 45px;
                border-radius: 16px;
                background: transparent;
                font-size: 1rem;
                font-weight: bold;
                transition: all 0.6s;
                &:hover {
                    width: 220px;
                }
            }
            .btn-back-page {
                background-color: var(--secondary);
                color: var(--light-color);
            }
            .btn-back-home {
                color: var(--secondary);
                border: solid 1px var(--secondary);
            }
        }
    }
}

@media (max-width: 48rem) {
    .page-notfound-container {
        .header-img {
            margin-top: 3em;
            margin-bottom: 2em;
            width: 90%;
            height: auto;
        }
        .content-not-found {
            width: 70%;
            .btns {
                width: 90%;
                display: flex;
                flex-direction: column;
                align-items: center;
                & > button {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
