<template>
  <div class="main  py-4 my-5 ">
    <cancel-order-modal></cancel-order-modal>
    <survey-modal></survey-modal>
    <claim-modal></claim-modal>

    <img
        class="main__icon mx-auto d-block"
        src="@/common/assets/images/icons/basket2.svg"
    />
    <h3 class="text-center mb-4">لیست سفارشات</h3>
    <div style="overflow-x:auto">
      <data-table
          :items="orders"
          :headers="headers"
          @show-details="showDetails"
          @cancel-order="cancelOrder"
          @claim-order="claimOrder"
          @do-survey="doSurvey"
      ></data-table>
    </div>


  </div>
</template>

<script src="./order-list.js"></script>

<style lang="scss" scoped src="./order-list.scss"></style>
